.carousel {
    position: absolute;
    height: 100%;
    width: 100%;
}

.carousel-inner {
    position: absolute;
    height: 100%;
    width: 100%;
}

.carousel-inner > .active,.carousel-inner > .next, .carousel-inner > .prev {
	position: absolute;
    height: 100%;
    width: 100%;
}
	
.descitem{
  overflow-y: scroll;
	position:absolute;
	top:0;
	bottom:0;
	width:35%;
	right:0;
	left:auto;
	background-color: rgba(255, 255, 255, 0.8);
	padding:20px;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.note-video-clip {
  width: 350px;
}

#dataSection-visor {
  overflow-y: scroll;
  position: absolute;
  top: 64px;
  right: 0px;
  width: 380px;
  bottom: 42px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 5px solid #2EBAE6;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.9)
}

.footer-controls-wrapper {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 20px;
}

.footer-controls-wrapper .footer-controls {
  float: right;
  height: 42px;
  cursor: pointer;
  font-size: 24px;
  line-height: 38px;
}

.footer-controls-wrapper .footer-controls button {
  margin-left: 12px;
}

.seamless-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  color: #444;
  margin-top: 5px;
}

#storyMapTitle {
  display: inline-block;
  margin-top: 0px !important;
}

.slide-title-visor {
  padding: 16px;
  color: #999;
  font-weight: 600;
  padding-left: 0px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  font-size: 35px;
  margin-right: 0px !important;
}

.modal {
  z-index: 10000 !important;
}

.popup-title {
  padding: 16px;
  color: #999;
  font-weight: 600;
  padding-left: 0px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

#msg a {
  color: #ccc;
  font-size: 25px;
}

#msg a:hover {
  color: #808080;
}

.slide {
  margin-bottom: 0px;
}

#mapaFrame-visor {
  position:absolute;
  top: 64px;
  bottom: 42px;
}

iframe {
  border: 0px;
}

#myCarousel {
  width: 100%;
  height: 100%;
}

.carousel-control.right {
    right: 380px;
}

#rightArrow, #leftArrow {
  color: #ffbe00;
  cursor: pointer;
  top: 48%;
  bottom: 48%;
}

.text {
  padding-right: 5px;
  padding-bottom: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 1500 !important;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #444;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #444;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 40%;
    margin-left: -10px;
}