
<!DOCTYPE html>
<html lang="en">
<head>
<title>Story Map</title>
<meta name="description" content="Telling stories with maps.">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- === leaflet -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css" />

<link rel="stylesheet" type="text/css" href="../css/editor.css">

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link href="../js/summernote/summernote.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="../static/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/fav/favicon-16x16.png">
</head>
<body class="wysihtml5-supported">
<script id="storymap_slide_template" type="text/template">
    <li class="slide">
		<div class="block">
        	<div class="slide-icon" data-toggle="tooltip" title="Selecciona la diapositiva"></div>
        	<div class="slide-num">1</div>.
        	<div class="slide-title"><%= text || "(Sense títol)" %></div>
		</div>
    </li>
</script>
<script id="dialog_template" type="text/template">
	<div id="<%= id %>" class="modal">
		<div class="modal-content">
			<span class="close" data-toggle="tooltip" title="Elimina la diapositiva">&times;</span>
			<div id="msg"></div>
			<div class="modal-footer">
				<button lang="ca" type="button" class="btn btn-default btn-ok" data-dismiss="modal">Acceptar</button>
				<button lang="ca" type="button" class="btn btn-danger btn-ko" data-dismiss="modal">Cancel·lar</button>
			</div>
		</div>
	</div>
</script>
<div class="translucent">
	<header>
		<a href="https://betaserver2.icgc.cat/storymap/html/editor.html" target="_parent">
			<img src="../static/img/storymaps-v1-logo-flat.png" alt="Logo Instamaps" title="Inici" class="logo">
		</a>
		<input type="text" id="storyMapTitle" class="storyMapTitle" name="storyMapTitle" placeholder="Introdueix un títol..." title="Títol de l'Storymap">
	</header>
	<nav id="menu-top" class="menu-main">
		<ul>
			<li>
			</li>
		</ul>
	</nav>
</div>
<div class="slides-section">
    <div id="slidesContainer">
        <ol id="slideList">
        </ol>
	    <div class="slides-add" id="storymap_add_slide" data-toggle="tooltip" title="Afegeix diapositiva">
			<div class="slide-icon2"></div>
			<div class="slide-add-title" id="addSlide">Afegeix diapositiva</div>
		</div>
		<div class="slide-save" id="storymap_save" data-toggle="tooltip" title="Guarda l'storymap">
			<div class="slide-icon3">
				<i class="centered-icon glyphicon glyphicon-cloud-upload"></i>
			</div>
			<div class="slide-save-title">Guarda</div>
		</div>
    </div>
</div>
<!-- <div id="rightBar">
	<div class="icono--div">
		<div class="icono">
			<a id="obrir_menu" href="#" data-toggle="tooltip" title="Informació de la diapositiva">
				<span class="span__raya"></span>
				<span class="span__raya"></span>
				<span class="span__raya"></span>
			</a>
		</div>
	</div>
	<div class="icono--div">
		<div class="icono icon2">
			<a id="settings_menu" href="#" data-toggle="tooltip" title="Configuració de l'story map">
				<i class="glyphicon glyphicon-cog centered-icon" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div> -->
<div id="mapviewer-floating-sidemenu" class="floating-menu showFloatingMenu">
	<ul class="button-group">
		<li id="obrir_menu" class="background-yellow glow slide-icon" data-toggle="tooltip" title="Contingut de la diapositiva">
			<a href="#">
			</a>
		</li>
		<li id="settings_menu" class="background-green glow" data-toggle="tooltip" title="Configuració de l'story map">
			<a href="#">
				<i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
			</a>
		</li>
		<li id="hide_menu" class="background-blue release glow reveal" style="" data-toggle="tooltip" title="Amaga menú">
			<a href="#">
				<i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
	<div id="slideItems" class="items-wrapper">
		<div id="dataSection">
			<div class="section-title">Contingut de la diapositiva</div>
			<div id="inputs">
				<div class="row">
					<div class="col-lg-12">
						<div class="input-group">
							<div id="urlFormGroup" class="form-group has-feedback">
								<input id="urlMap" type="text" class="form-control" placeholder="Introdueix una URL" data-toggle="tooltip" title="Introdueix una URL">
								<span id="urlMapFeedback" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" style="display:none;"></span>
							</div>
							<span class="input-group-btn">
								<button id="storymap_load" class="btn" type="button" disabled data-toggle="tooltip" title="Actualitza URL"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
								<button id="storymap_unload" class="btn" disabled data-toggle="tooltip" title="Elimina URL"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
							</span>
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<div id="titleFormGroup" class="form-group has-error has-feedback">
							<input id="title" type="text" class="form-control" placeholder="Títol" disabled data-toggle="tooltip" title="Títol">
							<span id="titleFeedback" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" style="display:none"></span>
						</div>
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
			</div>
			<div id="summernote"></div>
			<div id="storymap_reset_slide" disabled data-toggle="tooltip" title="Descarta els canvis"><i class="icon-reset"></i>Desfés</div>
			<div id="saveSlideSpinner" class="spinner" style="display: none;"></div>
		</div>
	</div>
	<div id="settingsSection" class="items-wrapper" style="display:none">
		<div class="section-title">Configuració de l'story map</div>
		<div class="text">Selecciona un estil de superposició:</div>
		<div id="superposat" class="modeSelectorExtern active">
			<div class="modeSelectorCB"></div>
			<div class="modeSelector">
				<img src="../static/img/expandit150.PNG" alt="Text superposat al mapa" class="modeSelectorImage">
				<div class="modeSelectorTextContainer">
					<div class="modeSelectorTitle">Superposat</div>
					<div class="modeSelectorText">El text de les diapositives se superposa a la web utilitzant transparència</div>
				</div>
			</div>
		</div>
		<div id="noSuperposat" class="modeSelectorExtern">
			<div class="modeSelectorCB"></div>
			<div class="modeSelector">
				<img src="../static/img/restringit150.PNG" alt="Text no superposat a la web" class="modeSelectorImage">
				<div class="modeSelectorTextContainer">
					<div class="modeSelectorTitle">No superposat</div>
					<div class="modeSelectorText">El text de les diapositives no se superposa a la web</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="text">Selecciona les opcions de visualització:</div>
		<input type="checkbox" name="autocycle" id="animCheckbox" checked>
		<label for="animCheckbox" class="cbLabel">
			<span class="ui"></span>Anima la presentació
		</label>
		<div class="outerAnimParams">
			<div id="animParams">
				<label for="carouselTime" class="text" id="carouselTimeLabel">Temps entre diapositives</label>
				<div class="input-group">
					<input type="number" class="form-control" id="carouselTime" aria-label="Temps entre diapositives en segons" value="5" min="1">
					<span class="input-group-addon">segons</span>
				</div>
				<input type="checkbox" name="pause" id="pauseCheckbox" checked>
				<label for="pauseCheckbox" class="cbLabel">
					<span class="ui"></span>Pausa la presentació amb el ratolí al damunt
				</label>
				<input type="checkbox" name="ride" id="rideCheckbox" checked>
				<label for="rideCheckbox" class="cbLabel">
					<span class="ui"></span>Inicia l'animació automàticament al carregar
				</label>
				<input type="checkbox" name="autostart" id="afterFirstCheckbox" checked>
				<label for="afterFirstCheckbox" class="cbLabel">
					<span class="ui"></span>Inicia l'animació al passar la primera diapositiva
				</label>
				<input type="checkbox" name="wrap" id="wrapCheckbox">
				<label for="wrapCheckbox" class="cbLabel">
					<span class="ui"></span>Torna a començar al finalitzar
				</label>
			</div>
		</div>
	</div>
</div>
<div class="tabs-section">
	<div id="map-div">
		<div id="mapaFrame" class="expanded">
			<iframe id="instamapsMap" width="100%" height="100%" frameborder="0" scrolling="auto" marginheight="0" marginwidth="0" style="display:none;"></iframe>
			<div id="noURLLoaded">
				<div id="noURLMessage">Cap adreça carregada</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-loader" class="loader-viewer loaderAnimationIn" style="display: none;">
	<div class="loader-bar-animated">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
	<div class="loader-contents">
		<h2 class="loader-title">Carregant</h2>
		<p>Espereu un moment...</p>
	</div>
</div>
<footer class="background-light">
	<a href="http://www.icgc.cat" target="_blank">
		<img src="../static/img/icgc-logo.png" alt="Institut Cartogràfic i Geològic de Catalunya" class="footer-logo">
	</a>
	<div class="clear-fix"></div>
</footer>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/url.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
<script src="../js/summernote/summernote.js"></script>
<script src="../build/js/storymap.min.js"></script>
<script src="../js/editor.js"></script>


</body>
</html>
