<!DOCTYPE html>
<html>
<head>
	<title>StoryMap Visor</title>
	<meta name="description" content="Telling stories with maps.">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/editor.css">
	<link rel="stylesheet" type="text/css" href="../css/visor.css">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/fav/favicon-16x16.png">
</head>
<body>
	<div class="translucent">
		<header>
			<a href="https://betaserver2.icgc.cat/storymap/html/editor.html" target="_parent">
				<img src="../static/img/storymaps-v1-logo-flat.png" alt="Logo Instamaps" title="Inici" class="logo">
			</a>
			<div id="storyMapTitle" class="storyMapTitle" title="Títol de l'Storymap">Títol</div>
		</header>
		<nav id="menu-top" class="menu-main">
			<ul>
				<li>
				</li>
			</ul>
		</nav>
	</div>

	<div id="myCarousel" class="slide carousel-fade" >
		<div class="carousel-inner">
			<script id="storymap_slide_template" type="text/template">
				<div class="item">
					<div id="mapaFrame-visor" class="<%=iframeClass%> mapaFrame-visor">
						<iframe src="<%=url || ""%>" width="100%" height="100%"/>
					</div>
					<div id="dataSection-visor" class="dataSection-visor">
						<div class="slide-title-visor"><%= text || "" %></div>
						<div class="text"><%= descripcio || ""%></div>
					</div>
				</div>
			</script>
		</div>

		<a class="left carousel-control" id="leftArrow" style="display: none;">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" id="rightArrow" style="display: none;">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<ol class="carousel-indicators">
	</ol>
	<div class="footer-controls-wrapper">
		<div class="footer-controls">
			<button id="fullScreenButton" class="seamless-button" title="Toggle Fullscreen">
				<span class="fa fa-arrows-alt"></span>
			</button>
			<button id="shareButton" class="seamless-button" data-toggle="modal" data-target="#share-modal">
				<span class="fa fa-share-alt"></span>
			</button>
		</div>
	</div>

	<div id="share-modal" class="modal">
		<div class="modal-content">
			<span class="close" data-toggle="tooltip" title="Tanca">&times;</span>
			<div class="popup-title">
				Comparteix l'Storymap
			</div>
			<div id="msg">
				<a data-type="email" target="_blank" data-from="visor" href="" title="Share this page on email">
					<i class="fa fa-envelope"></i>
				</a>
				<a data-type="facebook" target="_blank" data-from="visor" href="" title="Share this page on facebook">
					<i class="fa fa-facebook"></i>
				</a>
				<a data-type="googleplus" target="_blank" data-from="visor" href="" title="Share this page on googleplus">
					<i class="fa fa-google-plus"></i>
				</a>
				<a data-type="twitter" target="_blank" data-from="visor" href="" title="Share this page on twitter">
					<i class="fa fa-twitter"></i>
				</a>
				<a data-type="linkedin" target="_blank" data-from="visor" href="" title="Share this page on linkedin">
					<i class="fa fa-linkedin"></i>
				</a>
				<a data-type="pinterest" target="_blank" data-from="visor" href="" title="Share this page on pinterest">
					<i class="fa fa-pinterest"></i>
				</a>
			</div>
		</div>
	</div>

	<footer class="background-light">
		<a href="http://www.icgc.cat" target="_blank">
			<img src="../static/img/icgc-logo.png" alt="Institut Cartogràfic i Geològic de Catalunya" class="footer-logo">
		</a>
		<div class="clear-fix"></div>
	</footer>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/url.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	<script src="../build/js/storymap.min.js"></script>
	<script src="../js/visor.js"></script>
</body>
</html>